name: Dependency Review

on:
  pull_request:
    branches:
      - main
      - master

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4504108322c05c4f009e8fba97dc00dd # v6
        with:
          persist-credentials: false

      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dce57d591d8f362fd44f0df96647475af78 # v4
        with:
          fail-on-severity: moderate
